/*Le fichier CSS est divisé selon les partie de la page html
sommaire:
- Général       (ligne 20)
- Navigation    (ligne 39) 
- Header        (ligne 120)
- About         (ligne 220)
- Demo pay      (ligne 403)
- Slider        (ligne 513)
- Vidéo         (ligne 656)
- Price card    (ligne 849)
- Footers       (ligne 1019)
- Icônes        (ligne 1210)
*/




*,
*::before,
*::after {box-sizing: border-box;}

/**===================================================================================================================================
GENERAL=============================================================================================================================
======================================================================================================================================**/

/**Taille Max de la page**/
body{
  margin: 0;
  font-size: 16px;
  max-width: 1920px;
  position: relative;
}

/*Background de la partie demoPay*/
.BGdemo{
  background: url(assets/images/Background/demoBG.png)no-repeat;
  background-position-y: 1870px;
  z-index: -1; 
}

/*=====================================================================================================================================
NAV================================================================================================================================
========================================================================================================================================**/

/*taille barre nav*/
nav { 
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;
  height: 80px;
  z-index: 10;   
}

/*position logo UNIT.*/
nav .logo{
  width: 30%;
  float: left;
  padding: 20px 0;
  padding-left: 275px;
}

/*position menu nav*/
nav ul {
  width: 70%;
  float: right;
  padding: 30px 0;
  padding-right: 150px;
  margin: 0;
  list-style: none;
  text-align: right;
}

/*mise en forme menu*/
nav li {
  display: inline-block;
  margin: 0 10px;
}

nav li a {
  color: #dadada;
  font-family: Rubik, Medium;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  padding: 12px 10px;
  letter-spacing: 2px;
}

/*point de couleur pour le hover*/
nav li a::after{
  content: "\0020";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color:#00da97;
  margin: auto;
  opacity: 0;
  transition: all 300ms linear;
}

.search a::after, .kart a::after{
  content: "\0020";
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: red;
  margin: auto;
  opacity: 0;
  transition: all 300ms linear;
}

nav ul li a:hover::after{
  z-index: 10;
  opacity: 1;

}

/**====================================================================================================================================
HEADER================================================================================================================================
=====================================================================================================================================*/

/*taille header + background*/
header{
  display: inline-block;
  width: 100%;
  max-width: 1920px;
  height: 1010px;
  background: url(assets/images/Background/headerBG.png) no-repeat top right;
  position: relative;
  
}

/*position texte*/
header .Text{
  width: 60%;
  height: 100%;
  float: left;
  padding: 300px;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

/*mise en forme texte*/
header .Text h1{
  width: 635px;
  height: 110px;
  font-family: Poppins, Semi-Bold;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.06;
  color: #2c3238;
}

header .Text h1 span{
  font-family: PlayfairDisplay;
  font-weight: bold;
  font-style: italic;
}

header .Text p{
  width: 635px;
  height: 60px;
  font-family: Rubik;
  font-size: 30px;
  line-height: 1.15;
  letter-spacing: 0.15px;
  text-align: left;
  color: #2c3238;
  padding-bottom: 95px;

}

header .Text a{
  display: inline-block;
  padding: 10px 16px;
  border-radius: 4px;
  border: solid 1px #2c3238;
  background-color: white;
  font-family: Rubik;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;  
}

/*Animation boutton*/
header .Text a:hover{
  background-color: #2196f3;
  border: solid 1px #2196f3;
  color: white;
  transition: 0.5s;
}

/*trait bleu*/
header .Text h1::before {
  content: "\0020";
  display: block;
  width: 50px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  top: 280px;
  left: 300px;  
}

/*position téléphone*/
header .phone{
  width: 40%;
  height:100%;
  float: right;
  z-index: 1;
  margin-top: 150px;
}


/*===================================================================================================================================
ABOUT===============================================================================================================================
======================================================================================================================================*/

/*taille partie about*/
.about{
  display: block;
  position: relative;
  width: 100%;
  height: 750px;
  margin-top:150px;
}

/*titre*/
.about .title h3{
  display: block;
  width: 900px;
  height: 65px;
  font-family: Poppins;
  font-size: 28px;
  letter-spacing: 0.15px;
  text-align: center;
  color: #2c3238;
  margin: auto;
  z-index: 1;  
}

/*trait bleu*/
.about .title h3::before{
  content: "\0020";
  display: block;
  width: 50px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  top: -30px;
  left: 935px;  
}

/*taille de la zone des cartes*/
.about .card{
  display: block;
  width: 100%;
  height: 540px;
}

/*taille des cartes*/
.about .card1, .about .card2, .about .card3{
  display: inline-block;
  width: 370px;
  height: 350px;
  border-radius: 7px;
  background: white;
  position: relative;
  
}

/*icône des cartes*/
.about .cardicon{
  width: 65px;
  height: 65px;
  position: absolute;
  top: 50px;
  left: 35px;

}

/*titre des cartes*/
.about .card1 h4, .about .card2 h4, .about .card3 h4{
  display: inline-block;
  width: fit-content;
  height: 20px;
  font-family: Rubik;
  font-size: 20px;
  line-height: 1.27;
  letter-spacing: 0.11px;
  color: #2c3238;
  position: absolute;
  top: 160px;
  left: 35px;
}

/*texte des cartes*/
.about .card1 p, .about .card2 p, .about .card3 p{
  width: 300px;
  height: 65px;
  font-family: Rubik;
  font-size: 15px;
  line-height: 1.5;
  letter-spacing: 0.08px;
  color: #6f7982;
  position: absolute;
  top: 200px;
  left: 35px;
}

/*flèche*/
.about .cardarrow{
  display: inline-block;
  width: 17px;
  height: 11px;
  position: absolute;
  top: 310px;
  right: 35px;
  opacity: 0;
  transition: all 400ms linear;
}

/*hover flèche*/
.about .card1:hover .cardarrow, .card2:hover .cardarrow, .card3:hover .cardarrow{
  opacity: 1;
}

/*position cartes*/
.about .card1{
  position: absolute;
  top: 90px;
  left: 375px; 
}

.about .card2{
  position: absolute;
  top: 90px;
  left: 775px;
}

.about .card3{
  position: absolute;
  top: 90px;
  left: 1175px;
}

/*hover ombre cartes*/
.about .card1:hover, .card2:hover , .card3:hover{
  scale: 1.2;
  box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9);
  transition: 0.5s;
}

/*texte*/
.about .text p{
  width: 870px;
  font-family: Rubik;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.07px;
  text-align: center;
  color: #6f7982;
  position: absolute;
  left: 525px;
  top: 475px;
}

.about .text p span{
  font-family: Rubik, Medium;
  font-weight: 1000;
  color: #2c3238;
}

/*liens*/
.about .text a{
  display: inline-block;
  width: 115px;
  font-family: Rubik;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  color: #2196f3;
  position: absolute;
  top: 625px;
  left: 900px;
  transition: all 300ms linear;
}

.about .text a:hover{
  color: #604def;
  font-size: 16px;
}

/*=====================================================================================================================================
DEMOPAY===============================================================================================================================
======================================================================================================================================*/

/*taille zone demoPay*/
.demoPay{
  display: inline-block;
  width: 100%;
  height: 800px;
  position: relative;
  float: none;
}

/*zone images*/
.demoPay .images{
  width: 50%;
  height: 100%;
  float: left;
  z-index: 1;
}

/*blue screen*/
.bluescreen{
  display: inline-block;
  position: relative;
  top: 70px;
  left: 205px; 
}

/*screen demo*/
.demoscreen{
  display: inline-block;
  position: relative;
  top: -380px;
  left: 300px;
  z-index: 2;
}

/*credit card*/
.creditcard{
  display: inline-block;
  position: relative;
  top: -1080px;
  left: 480px;
  z-index: 3;
}

/*partie texte*/
.demoPay .text{
  width: 50%;
  height: 100%;
  float: right;
  padding: 130px 350px 270px 95px;
  position: relative;
  z-index: 1;
}

/*titre*/
.demoPay .text h3{
  width: 350px;
  height: 63px;
  font-family: Poppins, Medium;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.14px;
  color: #2c3238;
}

/*texte*/
.demoPay .text p{
  width: 457px;
  height: 130px;
  font-family: Rubik;
  font-size: 17px;
  line-height: 1.56;
  letter-spacing: 0.09px;
  color:  #6f7982;
  margin-top: 45px;
}

.demoPay .text p span{
  font-family: Rubik, Medium;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.09px;
  font-weight: 800;
  color: #2c3238;
}

/*bouton see demo*/
.demoPay .text a{
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  background-color:  #604def;
  font-family: Rubik;
  font-size: 16px;
  line-height: 2.44;
  text-align: center;
  color: white;
  text-decoration: none;  
  margin-top: 70px;
  transition: all 300ms;
}

.demoPay .text a:hover{
  transform: scale(1.1);
}

/*===================================================================================================================================
PARTNER==============================================================================================================================
====================================================================================================================================*/

/*taille zone partner*/
.partner{
  width: 100%;
  height: 650px;
  display: inline-block;
  position: relative;
  float: none;
}

/*titre*/
.partner h3{
  width: 700px;
  height: 64px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.14px;
  text-align: center;
  margin:10px 610px 90px 610px;
  color: #2c3238;
}

/*trait bleu*/
.partner h3::before{
  content: "\0020";
  display: block;
  width: 50px;
  height: 3px;
  background: #2196f3;
  position: absolute;
  top: -27px;
  left: 935px;  
}

/*taille zone slider*/
.partner .slider{
  width: 1920px;
  height: 420px;
}

/*taille carte central*/
.slider .card{
  display: inline-block;
  width: 770px;
  height: 400px;
  position: relative;
}

/*cercle gris*/
.slider .greycircle img{
  width: 80px;
  height: 80px;
  content: none;
  z-index: 3;
  position: relative;
  left: 350px;
  top: -30px;
}

/*contenu du slider*/
.slider .card h4{
  width: 316px;
  height: 46px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.09px;
  text-align: center;
  color: #2c3238;
  margin: 29px 227px 0 227px;
}

.slider .card h4 span{
  color: #6f7982;
  font-weight: 600;
}

.slider .card p{
  width: 562px;
  height: 72px;
  font-family: Rubik, Medium;
  
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.08px;
  text-align: center;
  color: #6f7982;
  margin: 36px 104px 75px 104px;
}

.slider .card a{
  display: inline-block;
  width: 100px;
  height: 16px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #604def;
  margin: 0 335px 86px 335px;
}

/*hover ombre carte*/
.slider .card:hover{
  box-shadow: 0px 20px 40px 0 rgba(92, 95, 101, 0.15);
  transition: linear 300ms;
}

/*style flèches*/
.cheveronleft, .cheveronright{
  display: inline-block;
  width: 35px;
  height: 35px;
  font-size: 36px;
  font-style: none;
  color: #dadada;
  transition: all linear 300ms;
}

.cheveronleft{
  margin: 183px 165px 182px 375px;
  position: relative;
  top: -80px;
}

.cheveronright{
  margin: 183px 367px 182px 165px;
  position: relative;
  top: -80px;
}

.cheveronleft:hover, .cheveronright:hover{
  transform: scale(1.1);
  color: #6f7982;
}

/*logo partenaires*/
.logopartner{
  margin: 0 340px;
}

.logopartner img{
  margin: 70px 40px 150px 40px;
}

/*======================================================================================================================================
VIDEO==================================================================================================================================
=======================================================================================================================================*/

/*Div qui englobe 2 catégories pour avoir l'espace de mettre l'image background*/
.VideoPlusPriceCard{
  width: 100%;
  height: 1340px;
  background: url(assets/images/Background/videoBG.png) no-repeat top right;
  z-index: -1;
}

/*taille de la partie vidéo*/
.video{
  width: 100%;
  height: 630px;
}
/*taille partie texte de vidéo*/
.video .text{
  display: block;
  width: 50%;
  height: 100%;
  float: left;
}

/*taille zone lecteur vidéo*/
.video .videoplayer{
  display: block;
  width: 50%;
  height: 100%;
  float: right;
}

/*style partie texte*/
.video .text h3{
  display: inline-block;
  width: 303px;
  height: 62px;
  margin-bottom: 44px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 800;
  letter-spacing: 0.14px;
  color: #2c3238;
  position: relative;
  top: 80px;
  left: 373px;
}

.video .text p{
  display: inline-block;
  width: 476px;
  height: 130px;
  margin-bottom: 70px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.09px;
  color: #6f7982;
  position: relative;
  top: 250px;
  left: 70px;


}
.video .text p span{
  font-weight: 800;
  color: #2c3238;
}

.video .text a{
  display: inline-block;
  width: 150px;
  height: 40px;
  border-radius: 4px;
  background-color: #2196f3;
  font-size: 16px;
  font-family: Rubik;
  line-height: 2.44;
  text-align: center;
  text-decoration: none;
  color:#ffffff;
  position: relative;
  top: 350px;
  left: -410px;
  transition: all 300ms;
}

.video .text a:hover{
  transform: scale(1.1);
}

/*style lecteur vidéo*/
.videoplayer .greyrectangle{
  width: 720px;
  height: 540px;
 
  border-radius: 7px;
  box-shadow: 0px 15px 70px 0 rgba(0, 0, 0, 0.35);
  background-color: #9a96a2;
  position: relative;
  top: 90px;
}

/*les 4 cercles + le bouton play*/
.videoplayer .circle5 span{
  width: 14px;
  height: 14px;
  color: #2196f3;
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.videoplayer .circle5{
  width: 80px;
  height: 80px;
  padding: 33px 33px;
  background-color: #ffffff;
  border-radius: 40px;
  position: relative;
  top: 45%;
  left: 45%;
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.videoplayer .circle4{
  content: "\0020";
  width: 120px;
  height: 120px;
  border: solid 1px #ffffff;
  border-radius: 120px;
  opacity: 0.8;
  position: relative;
  top: -71px;
  left: -56px;
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860) 132ms;
}

.videoplayer .circle3{
  content: "\0020";
  width: 150px;
  height: 150px;
  border: solid 1px #ffffff;
  border-radius: 150px;
  opacity: 0.8;
  position: relative;
  top: -206px;
  left: -70px;
  transition: all 200ms cubic-bezier(0.785, 0.135, 0.150, 0.860) 266ms;
}

.videoplayer .circle2{
  content: "\0020";
  width: 190px;
  height: 190px;
  border: solid 1px #ffffff;
  border-radius: 190px;
  opacity: 0.8;
  position: relative;
  top: -376px;
  left: -91px;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860) 400ms;
}

.videoplayer .circle1{
  content: "\0020";
  width: 250px;
  height: 250px;
  border: solid 1px #ffffff;
  border-radius: 250px;
  opacity: 0.8;
  position: relative;
  top: -596px;
  left: -122px;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.150, 0.860) 563ms;
}

/*hover du bouton play*/
.circle5:hover{
  background-color: #2196f3;
}
.circle5:hover  span{
  color: white;
}
.circle5:hover .circle4{
  transform: scale(1.3);
  border-color: #2196f3;
}
.circle5:hover .circle3{
  transform: scale(1.3);
  border-color: #2196f3;
}
.circle5:hover .circle2{
  transform: scale(1.3);
  border-color: #2196f3;
}
.circle5:hover .circle1{
  transform: scale(1.3);
  border-color: #2196f3;
}

/*=====================================================================================================================
PRICECARD==============================================================================================================
======================================================================================================================*/

/*clear des float précédent et taille zone price card*/
.pricecard{
  clear: both;
  display: inline-block;
  width: 100%;
  height: 712px;
  position: relative;
}

/*titre*/
.pricecard .slogan h3{
  width: 856px;
  height: 15px;
  font-family: Rubik;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 3.06;
  text-align: center;
  color: #2c3238;
  position: relative;
  top: 120px;
  left: 532px;
}

/*carte de gauche*/
.pricecard .leftcard{
  display: inline-block;
  width: 370px;
  height: 350px;
  border-radius: 7px;
  box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9);
  position: relative;
  top: 232px;
  left: 375px;
}

.pricecard .leftcard h5{
  width: 152px;
  height: 17px;
  font-family: Rubik;
  font-size: 20px;
  line-height: 1.27;
  letter-spacing: 0.11px;
  color: #2c3238;
  position: relative;
  top: 100px;
  left: 35px;
  margin: 0;
}
.pricecard .leftcard h3 {
  width: 90px;
  height: 48px;
  font-family: Rubik;
  font-size: 52px;
  font-weight: normal;
  line-height: 0.54;
  letter-spacing: 0.26px;
  color: #2c3238;
  position: relative;
  top: 50px;
  left: 35px;
  margin: 0;
}

.pricecard .leftcard ul li{
  font-family: Rubik;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.07px;
  color: #2c3238;
  list-style: none;
  margin: 0;
  position: relative;
  top: 100px;
}

.pricecard .leftcard ul li span{
  color: #00da97;
}

.pricecard .leftcard a{
  width: 142px;
  height: 17px;
  font-family: Rubik;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: 0.11px;
  text-decoration: none;
  text-align: right;
  color: #2196f3;
  position: relative;
  top: 140px;
  left: 200px;
}

/*2 petites cartes du haut*/
.pricecard .topcard{
  width: 700px;
  height: 170px;
  position: relative;
  top: -110px;
  left: 820px;
  margin: 0;
}

/*2 petites cartes du bas*/
.pricecard .bottomcard{
  width: 700px;
  height: 170px;
  position: relative;
  top: -110px;
  left: 820px;
  margin: 0;
}

/*style commun à toute les cartes*/
.cardADD, .cardEASY, .cardPAY, .cardADVANCED{
  display: inline-block;
  width: 270px;
  height: 150px;
  border-radius: 7px;
}

.cardADD span, .cardEASY span, .cardPAY span, .cardADVANCED span{
  display: inline-block;
  width: 32px;
  height: 32px;
  padding: 7px;
  border-radius: 11px;
  background-color: #2196f3;
  color: #ffffff;
  position: relative;
  left: 114px;
  top: 10px;
}

.cardADD h4, .cardEASY h4, .cardPAY h4, .cardADVANCED h4{
  display: inline-block;
  width: 100%;
  font-family: Rubik;
  font-size: 22px;
  line-height: 1.27;
  letter-spacing: 0.11px;
  text-align: center;
  color: #2c3238;
  position: relative;
  top: 10px;
  margin: 20px 0 0 0;
}

.cardADD p, .cardEASY p, .cardPAY p, .cardADVANCED p{
  display: inline-block;
  width: 100%;
  height: 34px;
  font-family: Rubik;
  font-size: 14px;
  letter-spacing: 0.07px;
  text-align: center;
  color: #6f7982;
  margin: 20px 0 10px 0;
}

/*marge entre les cartes*/
.cardADD, .cardPAY{
  margin-right: 140px;
}

/*hover ombre sur les cartes*/
.cardADD:hover, .cardADVANCED:hover, .cardEASY:hover, .cardPAY:hover{
  box-shadow: 0px 20px 40px 0 rgba(92, 95, 101, 0.15);
  transition: linear 300ms;
}


/*==================================================================================================================================
FOOTERS=============================================================================================================================
==================================================================================================================================**/

/******************FOOTER_INFO******************/

/*zone + background*/
.footer_info{
  height: 450px;
  width: 1920px;
  background-image: url(assets/images/Background/FootersBG.png);
  background-repeat: no-repeat;  
  position: relative;
}

/*UNITFIVE RESSOURCES COMPANY*/
.footers div div h4{
  width: 70px;
  height: 10px;
  font-family: Rubik, Medium;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase; 
  line-height: 20px;
  letter-spacing: 1.5px; 
}

/*Style des listes*/
.footer_info ul li{
  height: 30px;
  font-family: Rubik;
  font-size: 15px;
  line-height: 2.25px;
  color: #e3e7f2;
  list-style: none;
  padding: 0;
}

.footer_info .unitfive h4{
  color: white;
  padding-left: 40px;
  margin-bottom: 25px;
}

.footer_info .resources h4{
  color: white;
  padding-left: 40px;
  margin-bottom: 25px;
}

.footer_info .company h4{
  color: white;
  padding-left: 40px;
  margin-bottom: 25px;
}

/*position des listes*/
.footer_info .unitfive{
  position: absolute;
 left: 340px; 
 top: 100px;
}

.footer_info .resources{
  position: absolute;
  left: 560px;
  top: 100px;
}

.footer_info .company{
  position: absolute;
  left: 770px;
  top: 100px;
 
}

/*Hiring*/
.footer_info .company span{
  width: 35px;
  height: 13px;
  border-radius: 2px;
  background-color: #2196f3;
  padding: 6px 6px 3px 6px;
}

/*taille Newsletter*/
.footer_info .newsletter{
  width: 460px;
  height: 200px;
  opacity: 0.8;
  border-radius: 7px;
  border: solid 1px #e7e7e7;
  background-color: #3f559e;
  position: absolute;
  top: 100px;
  right: 350px;
}

.footer_info .newsletter h4{
  color: #00da97;
  font-family: Rubik, Medium;
  margin-left: 30px;
  margin-top: 35px;
  margin-right: 330px;
  margin-bottom: 0;
}

.footer_info .newsletter p{
  width: 400px;
  height: 15px;
  font-family: Rubik;
  font-size: 15px;
  line-height: 2.25;
  color: #fafafa;
  margin: 30px;
}

/*Entrer your email*/
.footer_info .newsletter input{
  width: 235px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #26292c;
  background-color: #ffffff;
  margin-left: 30px;
}

/*bouton stay in touch*/
.footer_info .newsletter button{
width: 150px;
height: 40px;
border-radius: 4px;
background-color: #00da97;
color: white;
font-family: Rubik;
font-size: 16px;
line-height: 2;
text-align: center center;
border: 0;
}


/****************FOOTER*****************/

/*taille footer*/
.footer{
  height: 100px;
  width: 1920px;
  background: white;
  position: relative;
  
}

/*terms & privacy*/
.footer p{
  width: 370px;
  height: 15px;
  font-family: Rubik, Medium;
  font-size: 15px;
  color: #8a99c0;
  position: absolute;
  top: 46px;
  left: 50px;
  margin: 0;
}

/*Logo*/
.footer img{
  width: 120px;
  height: 40px;
  position: absolute;
  top: 30px;
  left: 900px;
}

/*liste logo marques*/
.footer ul{
  position: absolute;
  top: 35px;
  left: 1690px;
}

.footer ul li {
  height: 15px;
  width:25px;
  list-style-type: none;
  display: inline-block;
  background-color:white;
  color:#8a99c0;
  text-align:center;
  padding:5px;
} 


/** =================================================================================================================================
ICONS LOGO=============================================================================================================================
=====================================================================================================================================*/

@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?wihkq5');
  src:  url('assets/fonts/icomoon.eot?wihkq5#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?wihkq5') format('truetype'),
    url('assets/fonts/icomoon.woff?wihkq5') format('woff'),
    url('assets/fonts/icomoon.svg?wihkq5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e908";
}
.icon-dollar:before {
  content: "\e900";
}
.icon-checkmark:before {
  content: "\e901";
}
.icon-cheveron-outline-left:before {
  content: "\e902";
}
.icon-cheveron-outline-right:before {
  content: "\e903";
}
.icon-play:before {
  content: "\e904";
}
.icon-play_circled:before {
  content: "\e905";
}
.icon-shopping-cart:before {
  content: "\e909";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-apple:before {
  content: "\f179";
}
.icon-pinterest:before {
  content: "\e906";
}
.icon-googleplay:before {
  content: "\e907";
}
